<div class="index">
   <% if flash[:notice] %>
   <div class= "successfully"><%= flash[:notice] %></div>
   <% end %>

    <h1 class="books">Books</h1>

   <table>
     <thead>
      <tr>
       <td class="line">Title</td>
       <td class="line">Body</td>
     </tr>
     </thead>

      <tbody>
        <% @books.each do |book| %>
       <tr>
        <td class="text-index"><%= book.title %></td>
        <td class="text-index"><%= book.body %></td>
        <td class="link-index"><%= link_to "Show", book_path(book.id) %></td>
        <td class="link-index"><%= link_to "Edit", edit_book_path(book.id) %></td>
        <td class="link-index"><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %> </td>
       </tr>
        <% end %>
      </tbody>
    </table>

   <h3>New Book</h3>
   <% if @book.errors.any? %>
   <%= @book.errors.count %>errors prohibited this book from being saved

      <ul>
      <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %>
   </ul
    <% end %>

    <%= form_with model:@book, local:true do |f| %>

     <h4>title</h4>
      <%= f.text_field :title %>
      <h4>body</h4>
      <%= f.text_area :body %>

      <br><%= f.submit 'Create Book' %></br>
    <% end %>
